<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.madao3.yoko_graph" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".appendActivity"
            android:label="@string/title_activity_append" >
        </activity>
        <activity
            android:name=".infActivity"
            android:label="@string/title_activity_inf" >
        </activity>
        <activity
            android:name=".propertyActivity"
            android:label="@string/title_activity_property" >
        </activity>
    </application>

</manifest>
